examplejaxb/schemagen/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://www.objectway.it/common" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="indirizzo">
    <xs:sequence>
      <xs:element name="cap" type="xs:string" minOccurs="0"/>
      <xs:element name="citta" type="xs:string" minOccurs="0"/>
      <xs:element name="numeroCivico" type="xs:int" minOccurs="0"/>
      <xs:element name="via" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="stato" type="xs:string"/>
  </xs:complexType>
</xs:schema>

